fastapi
uvicorn
mysql-connector-python
google-generativeai
google-auth-oauthlib
google-api-python-client
python-dotenv
Pillow
PyMuPDF
python-multipart
boto3
prometheus-fastapi-instrumentator
prometheus-client
celery[redis]
redis
